@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('ttf'),
        url('../fonts/OpenSans-VariableFont_wdth,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans-Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('ttf'),
        url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
}