
:root {
  --height-of-header-desktop: 85px;
  --height-of-header-mobile: 65px;
}

$opensans:              'Open Sans', sans-serif, serif                !default;

$fw-light:          300         !default;
$fw-normal:         400         !default;
$fw-medium:         500         !default;
$fw-semi-bold:      600         !default;
$fw-bold:           700         !default;
$fw-extra-bold:     800         !default;
$fw-black:          900         !default;

/* Colors */

// Components Color
$header-bg:         #4d4d4d     !default;
$submenu-bg:        #212121     !default;
$footer-bg:         #7c7c7c     !default;

// General
$white:             #ffffff     !default;
$black:             #000000     !default;
$muted:             #999999     !default;
$info:              #36a9db     !default;
$light:             #e6e6e6     !default;
$success:           #bbd550     !default;
$success-darkest:   #9cb030     !default;
$danger:            #e74c3c     !default;

// Header
$text-header:       #ffffff     !default;
$text-subheader:    #c6c6c6     !default;

/* Images */
$arrow-down:     url('../images/arrow-down.PNG')   !default;

// Breakpoints
$breakpoints: (

  "phone-xs":   320px,    
  "phone-sm":   375px,  
  "phone-md":   420px,
  "phone-lg":   520px,
  "phone-xl":   640px,
  "phone-xxl":  813px,

  "tablet-sm":  768px,
  "tablet-md":  1024px,
  "tablet-lg":  1224px,

  "desk-sm":    1140px,
  "desk-md":    1280px,
  "desk-lg":    1440px, 
  "desk-xxl":   1680px,

);