<form action="#" class="sf-form" id="form-cars" method="get">
  <div class="form-group sf-form-group">
    <label for="brand-car">Marca del Auto</label>
    <select name="brand-car" id="brand-car" required>
      <option value=""></option>
      <option value="carro-1">Carro 1</option>
      <option value="carro-2">Carro 2</option>
      <option value="carro-3">Carro 3</option>
      <option value="carro-4">Carro 4</option>
    </select>
  </div>
  <div class="row no-gutters">
    <div class="col-6">
      <div class="form-group sf-form-group w-50">
        <label for="model-car">Modelo del Auto</label>
        <select name="model-car" id="model-car" required>
          <option value=""></option>
          <option value="modelo-1">Modelo 1</option>
          <option value="modelo-2">Modelo 2</option>
          <option value="modelo-3">Modelo 3</option>
          <option value="modelo-4">Modelo 4</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group sf-form-group w-50">
        <label for="year-car">Año</label>
        <select name="year-car" id="year-car" required>
          <option value=""></option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group sf-form-group">
    <label for="user-email">Email</label>
    <input type="email" name="user-email" id="user-email" required>
  </div>
  <div class="form-group sf-form-group">
    <label for="user-phone">Telefono Celular</label>
    <input type="tel" name="user-phone" id="user-phone" pattern="+57[0-9]{3}[0-9]{7}" required>
  </div>
  <div class="form-group sf-form-group">
    <button type="submit">Cotizar Ahora</button>
  </div>
</form>