<div id="modal-form-home" class="modal modal-container">
  <div class="modal-row">
    <div id="modal-succes" class="ms modal-success">
      <i class="far fa-check-circle"></i>
      <h2>Informacion enviada con exito</h2>
      <p class="description">La información se ha enviado con exito</p>
      <p class="data"><b>Marca del auto:</b> <span id="brandCar-form"></span></p>
      <p class="data"><b>Modelo del auto:</b> <span id="modelCar-form"></span></p>
      <p class="data"><b>Año del auto:</b> <span id="yearCar-form"></span></p>
      <p class="data">Pronto nos estaremos comunicando contigo al correo <span id="emailUser-form"></span></p>
      <p class="data">O con un mensaje de verificacion al <span id="phoneUser-form"></span></p>
      <button id="close-modal">Cerrar</button>
    </div>
  </div>
</div>