@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('ttf'),
        url('../fonts/OpenSans-VariableFont_wdth,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Open Sans-Italic';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('ttf'),
        url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@import "vendors/bootstrap-grid.min";

$opensans:              'Open Sans', sans-serif, serif                !default;

$fw-light:          300         !default;
$fw-normal:         400         !default;
$fw-medium:         500         !default;
$fw-semi-bold:      600         !default;
$fw-bold:           700         !default;
$fw-extra-bold:     800         !default;
$fw-black:          900         !default;

/* Colors */

// Components Color
$header-bg:       #4d4d4d     !default;
$submenu-bg:      #212121     !default;
$footer-bg:       #7c7c7c     !default;

// General
$white:           #ffffff     !default;
$black:           #000000     !default;
$muted:           #999999     !default;
$info:            #36a9db     !default;
$light:           #e6e6e6     !default;

// Header
$text-header:     #ffffff     !default;
$text-subheader:  #c6c6c6     !default;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $opensans;
}

header.header {
  background-color: $header-bg;
}

.nav {
  &-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-brand {
    a {
      display: block;
      padding: 10px 0;
    }
  }
  &-menu {
    display: block;
    position: relative;
    &_list {
      display: flex;
      list-style: none;
      &--item {
        display: inline-block;
        a {
          text-decoration: none;
          color: $text-header;
          padding: 32px 20px;
          display: block;
          &:hover {
            text-decoration: underline;
            ~ .nav-submenu { 
              display: block; 
              &:hover { display: block; }
            }
          }
          ~ .nav-submenu {
            &:hover { display: block; }
          }
          span {
            color: $text-header;
          }
        }
      }
    }
  }
  &-submenu {
    background-color: $submenu-bg;
    display: none;
    position: fixed;
    top: 85px;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    &_list {
      @extend .container;
      display: flex;
      &--item {
        display: inline-block;
        a {
          display: block;
          padding: 10px 20px;
          color: $text-subheader;
          span {
            color: $text-subheader;
          }
          &:hover { text-decoration: underline; }
        }
        &:first-child a {
          padding-left: 0px;
        }
      }
    }
  }
}

.mt {
  display: block;
  width: 100%;
  height: auto;
  &-col {
    text-align: center;
    padding: 1rem 0;
    h1 {
      font-size: 2.25rem;
      color: $info;
      font-weight: $fw-semi-bold;
    }
    h4 {
      color: $muted;
      font-weight: $fw-semi-bold;
      font-size: 1rem;
    }
  }
}

.sf {
  padding: 2rem 0;
  position: relative;
  &-container {
    overflow: hidden;
    height: 436px;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 69px;
    background-color: $info;
    z-index: -1;
  }
  &-carousel {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 436px;
    &_item {
      display: none;
      position: relative;
      width: 100%;
      &--image {
        max-height: 100%;
        img {
          width: auto;
          max-width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
      &--counter {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 2;
        color: #000;
        background-color: $white;
        padding: 0 5px;
        font-weight: $fw-semi-bold;
        text-align: center;
        font-size: .75rem;
        box-shadow: 0px 0px 5px rgba(0,0,0,.1);
      }
    }
    &_navigator {
      position: absolute;
      left: 0;
      bottom: 20px;
      a {
        display: inline-flex;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $white;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
        &:first-child { margin-left: 20px; }
        i, svg {
          font-size: 2rem;
        }
      }
    }
  }
  &-form {
    background-color: $light;
  }
  &-col {
    height: 100%;
    max-height: 436px;
  }
}
